<section id="hero-section">

  <header>
    <img src="assets/whitelogovec.svg" alt="AA logo" class="brand-logo">
    <button type="button" class="white-btn header-btn">Contact us</button>
  </header>

  <div id="hero">

    <div class="content-div">

      <span class="hero-header">
        Unlock The Full<br>Potential Of Your<br>Brand
      </span>

      <span class="hero-sub-header">
        Offering a diverse range of services to help your business thrive.
      </span>

      <div class="btn-div">
        <button type="button" class="white-btn">Contact us</button>
      </div>
      

    </div>

    <div class="img-div">
      <img src="assets/aa_twins.png" alt="" class="heros" loading="eager">
    </div>

  </div>

</section>

<section id="services">

  <div class="section-header-div"> 
    <span class="section-header">
      Our Services
    </span>
  </div>

  <div class="service-parent">

    <div class="service-child">

      <div class="child-logo">1.</div>

      <span class="service-name">Content Creation</span>

      <a href="#" class="service-link">View details</a>

    </div>

    <div class="service-child">

      <div class="child-logo">2.</div>

      <span class="service-name">Business Training</span>

      <a href="#" class="service-link">View details</a>
      
    </div>

    <div class="service-child">

      <div class="child-logo">3.</div>

      <span class="service-name">Graphic Design</span>

      <a href="#" class="service-link">View details</a>
      
    </div>

    <div class="service-child">

      <div class="child-logo">4.</div>

      <span class="service-name">Web Development</span>

      <a href="#" class="service-link">View details</a>

    </div>

    <div class="service-child">

      <div class="child-logo">5.</div>

      <span class="service-name">Enviromental and Safety Work</span>

      <a href="#" class="service-link">View details</a>
      
    </div>

    <div class="service-child">

      <div class="child-logo">6.</div>

      <span class="service-name">Sewing and Printing</span>

      <a href="#" class="service-link">View details</a>
      
    </div>

  </div>

</section>

<section id="contact-section">
  
  <div class="section-header-div"> 
    <span class="section-header">
      Contact Details
    </span>
  </div>

</section>