<section id="hero-section">

  <header>
    <img src="assets/whitelogovec.svg" alt="AA logo" class="brand-logo">
    <button type="button" class="white-btn header-btn">Contact us</button>
  </header>

  <div id="hero">

    <div class="content-div">

      <span class="hero-header">
        Unlock The Full<br>Potential Of Your<br>Brand
      </span>

      <span class="hero-sub-header">
        Offering a diverse range of services to help your business thrive.
      </span>

      <button type="button" class="white-btn">Contact us</button>

    </div>

  </div>

</section>