#main-security-frame {
    position: fixed;
}

.brand-logo {
    width: 50px;
}

.center-parent-div {
    width:450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.sub-para {
    max-width: 350px;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 400;
}

.rd-party-parent {
    padding: 1rem;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.div-child {
    padding: 1rem;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.div-child:hover,
.div-child:active {
    transform: scale(105%);
}

.ss-icon {
    width: 30px;
}

.ss-para {
    font-size: 1em;
    letter-spacing: 1px;
}
              

@media (max-width: 600px) {
    section {
        padding-top: 2rem;
        padding-bottom: 3rem;
        align-items: flex-start;
    }

    .center-parent-div {
        width: 100%;
        gap: 1rem;
    }

    .inp-field {
        font-size: 1.2em;
    }


    .form {
        gap: 1.5rem;
    }

    .form-parent {
        gap: 1rem;
    }
}