<section id="security-section">
    <div class="redirect-btn-div">
        <img src="assets/brand/brandlogo2.svg" class="sec-brand-logo">
        <button type="button" class="def-btn form-btn" id="register-btn">Create New Account</button>

        <div class="or-div">
            <div class="line"></div>
            <span class="sub-para">Or</span>
            <div class="line"></div>
        </div>

        
    </div>

    <img src="assets/securitypage/bg2.svg" alt="" class="sec-bg-pic">
</section>