<section id="security-section">
    <div class="redirect-btn-div">
        <img src="assets/brand/brandlogo2.svg" class="sec-brand-logo">
        <button type="button" class="def-btn form-btn" id="register-btn">Create New Account</button>

        <div class="or-div">
            <div class="line"></div>
            <span class="sub-para">Or</span>
            <div class="line"></div>
        </div>

        <div class="rd-party-parent">

            <div class="div-child" id="mail-opt">
                <img src="assets/social-icons/mail.svg" alt="" class="ss-icon" >
                <span class="ss-para">Continue with Mail</span>
            </div>

            <div class="div-child">
                <img src="assets/social-icons/x.svg" alt="" class="ss-icon">
                <span class="ss-para">Continue with X</span>
            </div>

            <div class="div-child">
                <img src="assets/social-icons/github.svg" alt="" class="ss-icon">
                <span class="ss-para">Continue with GitHub</span>
            </div>

            <div class="div-child">
                <img src="/assets/social-icons/facebook.svg" alt="" class="ss-icon">
                <span class="ss-para">Continue with FaceBook</span>
            </div>

            <div class="div-child">
                <img src="assets/social-icons/google.svg" alt="" class="ss-icon">
                <span class="ss-para">Continue with Google</span>
            </div>

        </div>

    </div>

    <img src="assets/securitypage/bg2.svg" alt="" class="sec-bg-pic">
</section>