<section id="main-security-frame">
    
    <div class="center-parent-div">
        <img src="assets/brand/brandLogo.svg" alt="AAtwins brand logo" class="brand-logo">

        <span class="sub-para">Sign in to <br>AA Business Twins</span>

        <div class="rd-party-parent">

            <div class="div-child" id="mail-opt">
                <img src="assets/social-icons/mail.svg" alt="" class="ss-icon" >
                <span class="ss-para">Continue with Mail</span>
            </div>

            <div class="div-child">
                <img src="assets/social-icons/x.svg" alt="" class="ss-icon">
                <span class="ss-para">Continue with X</span>
            </div>

            <div class="div-child">
                <img src="assets/social-icons/github.svg" alt="" class="ss-icon">
                <span class="ss-para">Continue with GitHub</span>
            </div>

            <div class="div-child">
                <img src="assets/social-icons/facebook.svg" alt="" class="ss-icon">
                <span class="ss-para">Continue with FaceBook</span>
            </div>

            <div class="div-child">
                <img src="assets/social-icons/google.svg" alt="" class="ss-icon">
                <span class="ss-para">Continue with Google</span>
            </div>

        </div>
    </div>

</section>