<section id="home-section">
    <span class="sub-section-header">My Courses</span>

    <div class="course-parent">

        <div class="course-child">
            <div class="course-image-div"></div>
            <div class="course-detail-div">
                <span class="course-name">Design and Development</span>
                <p class="course-desc-para">
                    Learn how to visualize your business structure and plan it out perfectly.
                </p>
                <button type="button" class="course-button">Continue</button>
            </div>
        </div>
        
    </div>
</section>