<section id="main-security-frame">

    <div class="center-parent-div">

        <span class="form-header">
            Welcome Back!
        </span>

        <a href="/" class="sub-para form-para">Back to security page</a>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" action="/login" method="get" class="form" novalidate>

            <div class="form-parent">

                <div class="sub-inp-child">
                    <div class="inp-child">
                        <img src="assets/form-icons/email.svg" class="form-icon">
                        <input type="email" email name="email" id="emailInp" class="inp-field" [(ngModel)]="checkData.email" #emailInp="ngModel" required autocomplete="email" placeholder="Email Address" inputmode="email">
                    </div>
                    <small id="error-message" *ngIf="emailInp.touched && emailInp.pristine">Invalid Email</small>
                    <small id="error-message" *ngIf="emailInp.touched && emailInp.dirty && emailInp.invalid">Invalid Email</small>
                </div> 

                <div class="sub-inp-child">
                    <div class="inp-child">
                        <img src="assets/form-icons/password.svg" class="form-icon">
                        <input type="password" name="password" password [(ngModel)]="checkData.password" #passwordInp="ngModel" id="passwordInp" class="inp-field" required autocomplete="current-password" placeholder="Password">
                        <img src="assets/form-icons/visibility_off.svg" class="form-icon" id="passwordHidden">
                        <img src="assets/form-icons/visibility.svg" class="form-icon" id="passwordShown">
                    </div>
                    <small id="error-message" *ngIf="passwordInp.touched && passwordInp.pristine">Enter Valid Password</small>
                    <small id="error-message" *ngIf="passwordInp.valid && passwordInp.touched && passwordInp.dirty"> </small>
                </div>

            </div>

            <button type="submit" class="def-btn sub-btn" [disabled]="loginForm.invalid">Login</button>
        </form>

        <a href="security/signup" class="sub-para form-redirect-link">Go to Sign up page</a>

    </div>

</section>