<section id="security-section">
    <form action="/register-account" method="post" id="security-form">

        <span class="sect-sub-head-para">
            Create a new account with AA business Twins
        </span>

        <div class="field-input-parent login-parent-div">

            <div class="field-inp-div">
                <input type="text" class="inp-field" name="" id="" required placeholder="Create Username">
            </div>

            <div class="field-inp-div">
                <input type="password" password class="inp-field" name="" id="" required placeholder="Password">
            </div>

        </div>
        
        <button type="button" class="def-btn form-btn sub-btn" id="login-btn">Login</button>

        <a href="/security/register" class="redi-link">Not a member?</a>
   
    </form>
    
    <img src="assets/securitypage/securitypage2.svg" class="sec-bg-pic">
</section>
