#security-section {
    position: relative;
    height: 100vh;
}

.login-parent-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 1rem;
}

.inp-field {
    padding: 5px 10px;
    font-size: 1em;
    letter-spacing: 1px;
    border: 0 solid transparent;
    border-bottom: 1px solid #161616;
    font-weight: 400;
    width: 100%;
}

.field-inp-div {
    width: 100%;
}


.field-input-parent .field-inp-div:first-child {
    grid-area: a;
}

.field-input-parent .field-inp-div:nth-child(2) {
    grid-area: b;
}

.sec-bg-pic {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}