<section id="security-section">

    <form #signupForm="ngForm" action="/register-account" method="post" id="security-form" (onSubmit)="onSubmit()" novalidate>

        <img src="assets/brand/brandlogo2.svg" class="sec-brand-logo">

        <span class="sect-sub-head-para">
            Create a new account with AA business Twins
        </span>

        <div class="field-input-parent">
            <div class="field-inp-div">
                <input type="text" class="inp-field" name="name" id="nameInp" [(ngModel)]="checkData.name" #nameInp="ngModel" pattern="[A-Za-z\s]+" required placeholder="Name" autocomplete="name">
                <small id="error-message" *ngIf="nameInp.invalid && nameInp.touched && nameInp.dirty">Inavlid Input</small>
                <small id="error-message" *ngIf="nameInp.touched && nameInp.pristine">Invalid Input</small>
            </div>
            <div class="field-inp-div">
                <input type="text" class="inp-field" name="lname" id="lname" [(ngModel)]="checkData.lname" #lnameInp="ngModel" pattern="[A-Za-z\s]+" required placeholder="Last Name" autocomplete="family-name">
                <small id="error-message" *ngIf="lnameInp.invalid && lnameInp.touched && lnameInp.dirty">Invalid Input</small>
                <small id="error-message" *ngIf="lnameInp.touched && lnameInp.pristine">Invalid Input</small>
            </div>
            <div class="field-inp-div">
                <input type="email" class="inp-field" name="email" id="formEmailInp" [(ngModel)]="checkData.email" #emailInp="ngModel" required email placeholder="Email" autocomplete="email">
                <small id="error-message" *ngIf="emailInp.invalid && emailInp.touched && emailInp.pristine">Please fill field</small>
                <small id="error-message" *ngIf="emailInp.dirty && emailInp.invalid && emailInp.touched">Invalid</small>
            </div>
            <div class="field-inp-div">
                <input type="text" class="inp-field" name="username" id="usernameInp" [(ngModel)]="checkData.username" #usernameInp="ngModel" required placeholder="Create Username">
                <small id="error-message" *ngIf="usernameInp.touched && usernameInp.pristine">Please fill field</small>
                <small id="error-message" *ngIf="usernameInp.dirty && usernameInp.invalid && usernameInp.touched">Invalid</small>
            </div>
            <div class="field-inp-div">
                <input type="password" class="inp-field" name="password" id="passwordInp" [(ngModel)]="checkData.password" #passwordInp="ngModel" required placeholder="Password">
                <small id="error-message" *ngIf="passwordInp.invalid && passwordInp.touched && passwordInp.pristine">Please fill field</small>
                <small id="error-message" *ngIf="passwordInp.valid && passwordInp.touched && !checkPasswordCriteria(checkData.password)">Password must be at least 8 characters long, include an uppercase letter, and a number.</small>
            </div>
            <div class="field-inp-div">
                <input type="password" class="inp-field" name="conpassword" id="conpassword" required placeholder="Confirm Password" [(ngModel)]="checkData.conPassword" password #conPasswordInp="ngModel">
                <small id="error-message" *ngIf="conPasswordInp.invalid && conPasswordInp.touched && conPasswordInp.pristine">Please fill field</small>
                <small id="error-message" *ngIf="checkData.password && checkData.conPassword && checkData.password !== checkData.conPassword">Password don't match</small>
            </div>
            <div class="field-inp-div">
                <input type="text" class="inp-field" name="" id="" required placeholder="LinkedIn (Optional)">
            </div>
        </div>
        
        <button type="button" class="def-btn form-btn sub-btn" id="create-btn" [disabled]="signupForm.invalid">Create Account</button>

        <a href="/security/login" class="redi-link">Already a member?</a>
   
    </form>
    
    <img src="assets/securitypage/securitypage.svg" class="sec-bg-pic">
</section>
