<div id="user-interface-parent">

    <div class="top-panel">
        
        <div class="user-intro">
            <span id="user-name">Hi, Jonathan Doe ✌️</span>
        </div>

        <div class="util-component-parent">

            <div class="search-icon-div">
                <span class="material-symbols-rounded" id="top-panel-icon">
                    search
                </span>
                <input type="search" class="search-inp-field" id="search-field" name="search-field" placeholder="What are you looking for?">
            </div>

            <div class="alert-icon-div util-bg">
                <span class="material-symbols-rounded" id="top-panel-icon">
                    notifications
                </span>
            </div>

            <div class="setting-icon-div util-bg">
                <span class="material-symbols-rounded" id="top-panel-icon">
                    settings
                </span>
            </div>

        </div>

    </div>

    <div class="side-panel">

        <div class="side-panel-top">
            <div class="company-logo-div">

            </div>
        </div>

        <div class="side-panel-middle">
            
            <a class="spm-child" routerLink="/user-dashboard/home">
                <div>
                    <span class="material-symbols-rounded" id="dashboard-icon">
                    home
                    </span>
                </div>
            </a>

            <a class="spm-child" routerLink="/user-dashboard/video-content">
                <div >
                    <span class="material-symbols-rounded" id="dashboard-icon">
                    smart_display
                    </span>
                </div>
            </a>

            <a class="spm-child" routerLink="/user-dashboard/events">
                <div>
                    <span class="material-symbols-rounded" id="dashboard-icon">
                    event_note
                    </span>
                </div>
            </a>

        </div>

        <div class="side-panel-bottom">
            <div class="spm-child">
                <span class="material-symbols-rounded" id="dashboard-icon">
                    logout
                </span>
            </div>
        </div>

    </div>

    <div class="content-screen">
        <router-outlet></router-outlet>
    </div>
</div>
