<div id="user-interface-parent">

    <div class="side-panel">

        <div class="side-panel-top">
            <div class="company-logo-div">

            </div>
        </div>

        <div class="side-panel-middle">

            <div class="spm-child">
                <span class="material-symbols-rounded" id="dashboard-icon">
                    home
                </span>
            </div>

            <div class="spm-child">
                <span class="material-symbols-rounded" id="dashboard-icon">
                    smart_display
                </span>
            </div>

            <div class="spm-child">
                <span class="material-symbols-rounded" id="dashboard-icon">
                    event_note
                </span>
            </div>

        </div>

        <div class="side-panel-bottom">
            <div class="spm-child">
                <span class="material-symbols-rounded" id="dashboard-icon">
                    logout
                </span>
            </div>
        </div>

    </div>

    <div class="main-screen"></div>
</div>
