#user-interface-parent {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:  
    "a b"
    "a c";
}

/* SIDE PANEL STYLES */
.side-panel {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 0 solid transparent;
    border-radius: 0 5px 5px 0;
    grid-area: a;
}

.side-panel-top {
    padding: 1rem;
}

.company-logo-div {
    background-color: white;
    height: 50px;
    width: 50px;
    border: 0 solid transparent;
    border-radius: 100px
}

.side-panel-middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.spm-child {
    height: 60px;
    width: 90%;
    border: 0 solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.spm-child:hover {
    border-left: 3px solid white;
}

#dashboard-icon {
    color: white;
    font-size: 35px;
}

.side-panel-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 1rem 0;
}
/* SIDE PANEL STYLES */




/* TOP PANEL STYLES */

.top-panel {
    grid-area: b;
    border-bottom: 2px solid rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.user-intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#user-name {
    font-size: 1.3em;
    letter-spacing: 1px;
    font-weight: 500;
}

.util-component-parent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.alert-icon-div, .setting-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0 solid transparent;
    border-radius: 5px
}

.search-icon-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    border: 0 solid transparent;
    border-radius: 5px;
    height: 50px;
    width: 400px;
    padding: .5rem;
    background-color: rgb(238, 238, 238);
}

.util-bg {
    position: relative;
    background-color: rgb(238, 238, 238);
    height: 50px;
    width: 50px;
}

.search-inp-field {
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-size: 1em;
    letter-spacing: 1px;
    color: #161616;
    border: 0 solid transparent;
}

.search-inp-field:hover,
.search-inp-field:active,
.search-inp-field:focus {
    outline: 0 solid transparent;
}

#top-panel-icon {
    color: rgb(144, 144, 144);
    font-size: 30px;
    cursor: pointer;
}

#top-panel-icon:hover,
#top-panel-icon:active {
    transform: scale(105%);
}

/* TOP PANEL STYLES */










/* CONTENT SECTION STYLES */

.content-screen {
    grid-area: c;
    padding: 1rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* CONTENT SECTION STYLES */

#coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    width:100vw;
}


.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}