<div id="header">
    <img src="assets/brand/brandLogo.svg" alt="Brand Logo" class="brand-logo">

    <nav>
        <ul>
            <li>
                <a href="#" class="header-link">Network</a>
            </li>
            <li>
                <a href="#" class="header-link">Mission</a>
            </li>
            <li>
                <a href="#" class="header-link">Resource</a>
            </li>
            <li>
                <a href="#" class="header-link">FAQ</a>
            </li>
        </ul>
    </nav>

    <button type="button" class="def-btn black-btn">Create Account</button> 
</div>

<section id="landing-page">

</section>

<section id="mission-and-purpose">

</section>

<section id="resources">

</section>

<section id="networking-and-opportunity">

</section>

<section id="call-to-action-one">

</section>

<section id="our-projects">

</section>

<section id="founders-and-associates">

</section>

<section id="faq">

</section>

<section id="call-to-action-one">

</section>

<footer>
    
</footer>