<div id="header">
    <img src="assets/brand/brandLogo.svg" alt="Brand Logo" class="brand-logo">

    <nav>
        <ul>
            <li>
                <a href="#" class="header-link">Network</a>
            </li>
            <li>
                <a href="#" class="header-link">Mission</a>
            </li>
            <li>
                <a href="#" class="header-link">Resource</a>
            </li>
            <li>
                <a href="#" class="header-link">FAQ</a>
            </li>
        </ul>
    </nav>

    <button type="button" class="def-btn black-btn">Create Account</button> 
</div>

<section id="landing-page">

    <div class="top-half">
        
        <div class="th-div">
            <div class="blue-ball"></div>
            <span class="th-div-span">Be part of a growing database of entrepreneurs</span>
        </div>

        <span class="head-para">
            Welcome to AA business twins: Where ideas take flight
        </span>

        <span class="sub-head-para">
            Step into a world of innovation and collaboration at AA Business Twins, where entreprenurial dreams soar to new heights every day.
        </span>

        <button type="button" class="def-btn semi-btn">Become a member</button>

    </div>

    <div class="bottom-half">

    </div>

</section>

<section id="mission-and-purpose">

    <div class="sect-modal white-modal">

        <div class="sect-header-div">
            <span class="sect-header-title">
                Mission and purpose
            </span>
        </div>

        <span class="sect-sub-head-para">
            Our Purpose is simple: <br>Help You Succeed
        </span>

        <span class="sect-sub-para">
            At <b>AA Business Twins</b>, we empower 
            individuals to cultivate and realize innovative 
            ideas, fostering a world where every potential 
            is unleashed and impactful realities are born.
        </span>

    </div>

</section>

<section id="resources">

    <div class="sect-modal">

        <div class="sect-header-div">
            <span class="sect-header-title">
                Resources
            </span>
        </div>

        <div class="parent-div">

            <div class="child-div">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Guides and Tutorials</span>
                    <span class="div-para">
                        Explore our comprehensive collection of guides and 
                        tutorials designed to equip entrepreneurs with the knowledge and skills needed to navigate the startup 
                        journey successfully.
                    </span>
                </div>

            </div>

            <div class="child-div">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Educational Content</span>
                    <span class="div-para">
                        Enrich your entrepreneurial journey with our
                        educational content, including webinars,
                        workshops and online courses.
                    </span>
                </div>

            </div>

            <div class="child-div">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Funding Opportunies</span>
                    <span class="div-para">
                        Discover tips and strategies for securing funding and
                        explore various sources of capital, from venture capital
                        firms to crowdfunding platforms, to fuel your startup's
                        growth and innovation.
                    </span>
                </div>

            </div>

            <div class="child-div">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Legal and Regulatory Guides</span>
                    <span class="div-para">
                        From understanding intellectual property rights to drafting contracts
                        and agreements, we provide essential information and guidance to help 
                        you protect your startup and mitigate legal risks.
                    </span>
                </div>

            </div>

            <div class="child-div">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Community Support</span>
                    <span class="div-para">
                        Our community forums and discussion groups provide a 
                        supportive enviroment where you can connect with peers, 
                        ask questions, and receive valuable feedback to help 
                        you overcome challenges and achieve your goals.
                    </span>
                </div>

            </div>

            <div class="child-div">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Additional Resources</span>
                    <span class="div-para">
                        Explore additional resources, including recommended reading lists
                        , podcasts and online forums, curated to provide valuable insights and 
                        inspiration for entrepreneurs at every stage of their journey.
                    </span>
                </div>

            </div>

        </div>

    </div>

</section>

<section id="networking-and-opportunity">

    <div class="sect-modal white-modal">

        <div class="sect-header-div">
            <span class="sect-header-title">
                Networking and Opportunities
            </span>
        </div>

        <span class="sect-sub-head-para">
            Events and Networking <br>Opportunities
        </span>

        <div class="parent-div">

            <div class="child-div networking-child no-child">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Start-up Pitch Competition</span>

                    <div class="redirect-button">
                        <span class="material-symbols-rounded" id="arrow">
                            arrow_forward
                        </span>
                    </div>
                   
                </div>

            </div>

            <div class="child-div networking-child no-child">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Entrepreneurship Workshop series</span>

                    <div class="redirect-button">
                        <span class="material-symbols-rounded" id="arrow">
                            arrow_forward
                        </span>
                    </div>
                   
                </div>

            </div>

            <div class="child-div networking-child no-child">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Investor Networking Mixer</span>

                    <div class="redirect-button">
                        <span class="material-symbols-rounded" id="arrow">
                            arrow_forward
                        </span>
                    </div>
                   
                </div>

            </div>

            <div class="child-div networking-child no-child">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Innovation Summit</span>

                    <div class="redirect-button">
                        <span class="material-symbols-rounded" id="arrow">
                            arrow_forward
                        </span>
                    </div>
                   
                </div>

            </div>

        </div>

    </div>

</section>

<section id="call-to-action-one">

    <div class="sect-modal">

        <span class="sect-sub-head-para">
            Become a member in less than 5 minutes
        </span>

        <span class="sect-sub-para">
            Answer a couple of questions, upload a 
            picture and that's it, you're  a member
        </span>

        <button type="button" class="def-btn semi-btn">Become a member</button>

    </div>

</section>

<section id="our-projects">
    <div class="sect-modal white-modal">

        <div class="sect-header-div">
            <span class="sect-header-title">
                Our projects
            </span>
        </div>

        <span class="sect-sub-head-para">
            Our anticipated and <br>active projects
        </span>

        <div class="parent-div">

            <div class="child-div networking-child project-child">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Athlete Water</span>
                   
                </div>

            </div>

            <div class="child-div networking-child project-child">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Resolution Premium</span>
                   
                </div>

            </div>

            <div class="child-div networking-child project-child">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Tell The World</span>
                   
                </div>

            </div>

            <div class="child-div networking-child project-child">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">AA Business Twins</span>
                   
                </div>

            </div>

        </div>

    </div>
</section>

<section id="founders-and-associates">
    <div class="sect-modal white-modal">

        <div class="sect-header-div">
            <span class="sect-header-title">
                The Founders and Associates
            </span>
        </div>

        <span class="sect-sub-head-para">
            The Founders and<br>Associates
        </span>

        <div class="parent-div">

            <div class="child-div networking-child fna-child">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Amogelang and Atlegang</span>
                    <span class="fade-title">Founders</span>

                    <div class="social-icon-parent">
                        <img src="/assets/social-icons/whatsapp.svg" alt="whatsapp" class="social-icon">
                        <img src="/assets/social-icons/instagram.svg" alt="instagram" class="social-icon">
                        <img src="/assets/social-icons/youtube.svg" alt="youtube" class="social-icon">
                        <img src="/assets/social-icons/x.svg" alt="x" class="social-icon">
                    </div>
                   
                </div>

            </div>

            <div class="child-div networking-child fna-child">

                <div class="inner-image-div">

                </div>

                <div class="content-div">
                    <span class="div-header-title">Marjella Marketing Media</span>
                    <span class="fade-title">Associate</span>

                    <div class="social-icon-parent">
                        <img src="/assets/social-icons/whatsapp.svg" alt="whatsapp" class="social-icon">
                        <img src="/assets/social-icons/instagram.svg" alt="instagram" class="social-icon">
                        <img src="/assets/social-icons/youtube.svg" alt="youtube" class="social-icon">
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<section id="faq">

    <div class="sect-modal">

        <div class="sect-header-div">
            <span class="sect-header-title">
                Frequently Asked Questions
            </span>
        </div>

        <div class="parent-div">

            <div class="child-div">

                <div class="content-div">
                    <span class="div-header-title">How can AA Business Twins help me with my startup idea(s)?</span>
                    <span class="div-para faq-ans">
                        Explore our comprehensive collection of guides and 
                        tutorials designed to equip entrepreneurs with the knowledge and skills needed to navigate the startup 
                        journey successfully.
                    </span>
                </div>

            </div>

            <div class="child-div">

                <div class="content-div">
                    <span class="div-header-title">What resources and support services does AA Business Twins offer to entrepreneurs?</span>
                    <span class="div-para faq-ans">
                        Enrich your entrepreneurial journey with our
                        educational content, including webinars,
                        workshops and online courses.
                    </span>
                </div>

            </div>

            <div class="child-div">

                <div class="content-div">
                    <span class="div-header-title">How do I apply to become a part of the AA Business Twins incubation program?</span>
                    <span class="div-para faq-ans">
                        Discover tips and strategies for securing funding and
                        explore various sources of capital, from venture capital
                        firms to crowdfunding platforms, to fuel your startup's
                        growth and innovation.
                    </span>
                </div>

            </div>

            <div class="child-div">

                <div class="content-div">
                    <span class="div-header-title">Can I participate in AA Business Twins events and workshops as a non-member?</span>
                    <span class="div-para faq-ans">
                        From understanding intellectual property rights to drafting contracts
                        and agreements, we provide essential information and guidance to help 
                        you protect your startup and mitigate legal risks.
                    </span>
                </div>

            </div>

            <div class="child-div">

                <div class="content-div">
                    <span class="div-header-title">What criteria does AA Business Twins consider when selecting startups for incubation?</span>
                    <span class="div-para faq-ans">
                        Our community forums and discussion groups provide a 
                        supportive enviroment where you can connect with peers, 
                        ask questions, and receive valuable feedback to help 
                        you overcome challenges and achieve your goals.
                    </span>
                </div>

            </div>

        </div>

    </div>

</section>

<section id="call-to-action-two">

    <div class="sect-modal white-modal">

        <span class="sect-sub-head-para">
            Still not convinced? leave your email address and we'll be in touch
        </span>

        <form action="/newletter" method="post" id="cta-single">
            <input type="email" id="emailInp" name="email" placeholder="Email Address" email required>
            <button type="submit" class="def-btn cta-sub-btn">Send</button>
        </form> 

    </div>
</section>

<footer>

    <div class="sect-modal footer-modal">

        <img src="assets/brand/brandLogo.svg" alt="Brand Logo" class="brand-logo">

        <div class="footer-link-parent-div">

            <div class="footer-link-child-div">
                <span class="flcd-header">Legal</span>
                <ul>
                    <li>
                        <a href="" class="footer-link">Terms of use</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Consent and Disclosures</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Reward Terms</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Non-rewards Merchants</a>
                    </li>
                </ul>
            </div>

            <div class="footer-link-child-div">
                <span class="flcd-header">Products</span>
                <ul>
                    <li>
                        <a href="" class="footer-link">Guides and Tutorials</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Educational Content</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Funding Opportunities</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Legal and Regulatory</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Additional Resources</a>
                    </li>
                </ul>
            </div>

            <div class="footer-link-child-div">
                <span class="flcd-header">Company</span>
                <ul>
                    <li>
                        <a href="" class="footer-link">Careers</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Mission and Vision</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Security</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Blog and News</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="line"></div>

        <div class="ref-links">
            <span class="fade-title">©2024 AA Business Twins All Rights Reserved</span>
            <div class="social-icon-parent">
                <img src="/assets/social-icons/whatsapp.svg" alt="whatsapp" class="social-icon">
                <img src="/assets/social-icons/instagram.svg" alt="instagram" class="social-icon">
                <img src="/assets/social-icons/youtube.svg" alt="youtube" class="social-icon">
                <img src="/assets/social-icons/x.svg" alt="x" class="social-icon">
            </div>
        </div>
    </div>

</footer>